<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Inverted Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Library CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="css/style.css" rel="stylesheet">

</head>

<body  ng-controller="MainController as main">
<div class="container">
    <div class="row mb-20">
        <div class="col-md-4">
            <h1>Inverted Index</h1>
            <h5>A simple and easy to use platform that allows you to create indexes and search through them</h5>
        </div>
        <div class="col-md-8 search-margin">
            <div class="input-group">
                <input class="form-control" type="text" ng-model="searchQuery">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Search
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="searchIndex(value)">All files</a></li>
                        <li ng-repeat="(key,value) in filesIndexCreated"><a ng-click="searchIndex(value)"> {{value}} </a></li>
                    </ul>
                </div>
                <!-- /btn-group -->

            </div>
            <!--input group -->
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 col-sm-8 col-xs-10 col-md-offset-0 col-sm-offset-2 col-xs-offset-1">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <span class="badge">{{fileNamesArray.length}}</span>Documents Uploaded</a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Upload JSON file(s) only</p>

                    <div class="col-md-7 col-sm-7 col-xs-5">
                        <input type="file" name="json-files" id="json-files" accept=".json" multiple />
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <button class="btn btn-default btn-sm pull-right" ng-click="uploadFile()"><i class="fa fa-plus"></i>
                            Upload File</button>
                    </div>

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select class="form-control input-small" id="selected" ng-model='selectedFile'>
                        <option value="" selected>Select a file to index</option>
                        <option value={{key}} ng-repeat="(key,value) in fileNamesArray">{{value}}</option>
                    </select>
                </div>

                <div class="col-md-offset-2 col-md-6">
                    <button class="btn btn-primary pull-right" ng-click="createIndex()">Create Index</button>
                </div>

            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="panel panel-primary" ng-if="showIndexTable && !showSearchTable">
                <div class="panel-heading active">
                    {{tableName}} Table <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                    <span class="label label-info"></span>
                </div>

                <table class="table">
                    <thead>

                    <tr>
                        <th>Tokens</th>
                        <th ng-repeat="i in content">Doc {{$index+1}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key,value) in fileIndex">
                        <td>{{key}}</td>
                        <td ng-repeat="i in content track by $index">
                            <span ng-if="value.includes($index)"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                            <span ng-if="!value.includes($index)"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="panel panel-primary mb-20" ng-repeat="(searchFileName, indices) in searchedIndexedFiles" ng-if="!showIndexTable && showSearchTable">
                <div class="panel-heading active">
                    {{tableName}} table for {{searchFileName}} <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                    <span class="label label-info"></span>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Tokens</th>
                        <th ng-repeat="i in content">Doc {{$index+1}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in indices">
                        <td>{{key}}</td>
                        <td ng-repeat="i in content track by $index">
                            <span ng-if="value.includes($index)"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                            <span ng-if="!value.includes($index)"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Library JS-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


<!-- Project JS-->
<script src="js/InvertedIndex.js"></script>
<script src="js/app.js"></script>
</body>

</html>
