body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    background: #f6f9fc;
    color: #777;
}
.search-margin{
    margin-top: 20px;
    margin-bottom: 10px;
}
/*.file-list a {*/
    /*text-decoration:none;*/
    /*transition:color .3s;*/
    /*display:block;*/
    /*padding:10px;*/
    /*text-transform:capitalize;*/
/*}*/
/*.file-list{*/
    /*list-style: none;*/
/*}*/
/*!*.file-list a i {*!*/
    /*!*margin-right:10px;*!*/
    /*!*pointer-events:none*!*/
/*!*}*!*/
/*.file-list a.active {*/
    /*background:#fff;*/
    /*box-shadow:0 2px 4px rgba(50,50,93,.1)*/
/*}*/

.file-list {
    background: rgba(0, 0, 1, .5);
    color: #fff;
    height: 50px;
    padding: 10px;
    font-weight: bolder;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 30px 10px 10px 0;
}
.mb-20{
  margin-bottom: 20px;
}
